{% extends "base.html" %}
{% block content %}
<h2>{{page_title}}</h2>

<p>The thirteen Dwarves who famously travelled into the east of Middle-earth under the leadership of Thorin Oakenshield
    to seek revenge against Smaug and the recovery of Erebor. Thorin's company were Balin, Dwalin, Fíli, Kíli, Dori,
    Nori, Ori, Óin, Glóin, Bifur, Bofur and Bombur.</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oakenshield</h3>
        <p>
            195 years old at the time of the Quest
            Wore a sky-blue hood with a silver tassel
            Thorin II of the royal line of Durin the Deathless had been King of his people in exile since the loss of
            his
            father
            Thráin. While travelling, he met Gandalf at Bree and the two eventually formulated a plan to return to the
            Dwarves'
            ancient kingdom of Erebor and recover it from the Dragon Smaug. Thus Thorin assembled a company of twelve
            Dwarves to
            take on the Quest, while Gandalf added a 'burglar' - Bilbo Baggins - to their number.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/b/b2/Thorin_by_Venlian.png" alt="">
    </div>

</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/a/a6/HBT-DWF-003.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Fili and Killi</h3>
        <p>Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother, Dís. They were also nephews
            of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his
            long nose, the longest of any of the Dwarves in Thorin's company.
        </p>
    </div>
</div>
{% endblock %}